/*font-family: 'Merriweather', serif;*/

/*font-family: 'Roboto', sans-serif;*/
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-decoration: underline;
  color: #2B2F26;
}
a {
  display:flex;
  flex-grow: 35;
  align-items: center;
  margin-left: 200px;
  text-decoration: underline;
}
a:nth-child(3) {
  color: #968772;
  padding-bottom: 0px;
}
#bird{
float: left;
margin: 15px;
}
#quote {
  font-style: italic;
  font-size: 35px;
  z-index: 2;
  border-left: solid 2px #2B2F26;
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
}
body {
  background-color: #F2F1E8;
  font-family: 'Merriweather', serif;
  color: #2B2F26;
  font-size: 20pt;
  width: 100%;
  margin: 0;
}
p{
  margin-left: 15%;
  margin-right: 15%;
}
banner>h1 {
  background-image: url(background-3.jpg);
  background-size: cover;
  color: #F2F1E8;
  text-align: center;
  font-size: 100px;
  padding-top: 150px;
  padding-bottom: 150px;
}
th, td {
  font-size: 25px;
  border: solid 2px #2B2F26;
  padding: 20px;
}
td {
  background-color: #968772;
}
aside {
  display: flex;
  flex-direction: column;
  float: right;
  font-size: 16pt;
  width: 14%;
  z-index: 1;
  float: right;
}
h2>div {
  align-content: flex-start;
  margin-right: 0px;
}
h1 {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 75pt;
  text-align: justify;
  z-index: 0;
}
h2 {
  padding-left: 15%;
  padding-right: 15%;
}
table {
  padding-left: 15%;
  padding-right: 15%;
  border-collapse: collapse;
  margin-left: 15%;
}
.start {
  display: flex;
  padding-left: 15%;
  margin-left: 0;
  flex-direction: column;
}
nav {
  border-bottom: solid lightgrey 3px;
  display: inline-flex;
  width: 100%;
}
footer>h5 {
  text-align: left;
  font-family: 'Merriweather', serif;
  font-size: 36pt;
  color: #F2F1E8;
  background-color: #2B2F26;
  margin-top: 80px;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 50px;
  margin-bottom: 0px;
}
footer {
  align-self: stretch;
  position: absolute;
  width: 100%;
}
